# Student Questionnaire

In [14]:
import pandas as pd
from os.path import join as joinpath

In [21]:
path = r'D:\BigQueryDatabase\PISA\2018'
filename = 'cy07_msu_stu_cog'
path = joinpath(path,  filename+'.csv')
pd.read_csv(path, nrows = 100)

,CNTRYID,CNT,CNTSCHID,CNTSTUID,CYC,NatCen,Region,STRATUM,SUBNATIO,OECD,...,DG133Q03C,CG133Q03T,CG133Q03F,CG133Q03A,CG133Q04S,CG133Q04T,CG133Q04F,CG133Q04A,DG133Q04R,VER_DAT
0,8.0,ALB,800115.0,800001.0,07MS,800,800.0,ALB0107,80000,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,09MAY19:11:20:53
1,8.0,ALB,800300.0,800002.0,07MS,800,800.0,ALB0105,80000,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,09MAY19:11:20:54
2,8.0,ALB,800088.0,800003.0,07MS,800,800.0,ALB0101,80000,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,09MAY19:11:20:54
3,8.0,ALB,800014.0,800004.0,07MS,800,800.0,ALB0109,80000,0.0,...,0.0,122787.0,19885.0,154.0,0.0,36179.0,32282.0,1.0,2.0,09MAY19:11:20:53
4,8.0,ALB,800294.0,800005.0,07MS,800,800.0,ALB0203,80000,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,09MAY19:11:20:53
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,8.0,ALB,800191.0,800106.0,07MS,800,800.0,ALB0101,80000,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,09MAY19:11:20:54
96,8.0,ALB,800196.0,800107.0,07MS,800,800.0,ALB0105,80000,0.0,...,NaN,2822.0,0.0,0.0,0.0,12704.0,1578.0,6.0,2.0,09MAY19:11:20:53
97,8.0,ALB,800009.0,800108.0,07MS,800,800.0,ALB0203,80000,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,09MAY19:11:20:54
98,8.0,ALB,800116.0,800109.0,07MS,800,800.0,ALB0203,80000,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,09MAY19:11:20:53
99,8.0,ALB,800211.0,800110.0,07MS,800,800.0,ALB0101,80000,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,09MAY19:11:20:53